body {
  background-color: #fefae0;
  text-align: center;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* padding: 20px; */
  margin: 0 auto;
  height: 100vh;
}

h1 {
  font-size: 48px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

main {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  /* code for making the text box center on the page */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  /* padding: 50px; */
}

h2 {
  text-align: center;
}

figure {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  max-width: 600px;
  object-fit: cover;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  transform: scale(1);
}

nav > a {
  display: inline;
  margin-right: 10px;
}

nav {
  text-align: center;
}

header {
  background-color: #d4a373;
  padding: 10px;
  text-align: center;
  /* code to make the header center on the page */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background-color: #d4a373;
  /* padding: 10px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  height: 115px;
  position: relative;
}

/* Rule Overrides for mobile devices */
@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  img {
    max-width: 100%;
  }

  main {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
  }
}

/* Rule overrides for tablets */
@media screen and (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 20px;
  }

  img {
    max-width: 90%;
  }

  main {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
  }
}

/* Rule overrides for laptops */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  body {
    font-size: 22px;
  }

  img {
    max-width: 80%;
  }

  main {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.evaluations-container {
  margin-bottom: 20px;
  /* margin: auto 0 auto; */
}

.website-evaluation {
  color: black;
  text-align: center;
}

.evaluation-text {
  text-align: left;
  font-size: 20px;
}

th {
  font-weight: bold;
}

figure {
  margin: 20px 0;
}

figcaption {
  margin-top: 10px;
  font-style: italic;
  text-align: center;
}

/* Table styling */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  background-color: #fefae0;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
thead tr {
  background-color: #283618;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #f0e9b3;
}
tbody tr:nth-child(even):not(:first-child) {
  background-color: #d4a373;
}

.text-right {
  text-align: right;
}

form {
  background-color: #fefae0;
  padding: 30px;
  border: 2px solid #d4a373;
  border-radius: 12px;
  margin-top: 20px;
  width: auto;
  max-width: 800px;
}

form label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  color: #283618;
}

form input[type="text"],
form input[type="email"],
form input[type="url"],
form input[type="number"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #d4a373;
  border-radius: 5px;
}

form input[type="file"] {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #d4a373;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #d4a373;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover,
form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background-color: #283618;
  color: white;
}

#courses-container button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 60px;
}

#courses-container input {
  width: 100%;
  display: inline-block;
  margin-right: 10px;
}

#reset {
  background-color: #d4a373;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 49%;
}

#submit-form {
  background-color: #d4a373;
  color: white;
  width: 49%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
