<nav>
    <a href="https://webpages.charlotte.edu/jware13/">Charlotte.edu</a> || 
    <a href="https://github.com/jware13/jware13.github.io">Github</a> || 
    <a href="https://jware13.github.io/itis3135/">Github.io</a> || 
    <a href="https://www.freecodecamp.org/JacobWare13">freeCodeCamp</a> || 
    <a href="https://www.codecademy.com/profiles/JacobiWCS">Codecademy</a> || 
    <a href="https://www.linkedin.com/in/jacob-ware-577695146/">LinkedIn</a>


</nav>
<p>Page Designed by <a href="ware-enterprises.cc/index.html">Ware Enterprises </a>&copy;2025, <em><a href="https://www.freecodecamp.org/certification/JacobWare13/responsive-web-design" style="text-decoration: none; color: black;">Certified in Responsive Web Design</a></em></p>		